/** Customize Your Theme Colors **/

/**Primary Background and Shadow color on submit links and more**/
	.submit-page #newlink.submit.content .tabmenu.formtab .selected a,.submit-page .infobar,.side div.morelink,#search input[type=submit],.btn, button,.menuarea .drop-choices a.choice:hover,.side div.sidecontentbox a.helplink:hover:after{
		background-color: #ff7247;
	}
	
/**Box Shadow - Used for shadows on buttons, sidebar submission links and more**/
	.side div.morelink, .btn, button, #search input[type=submit]
	{
	-webkit-box-shadow: 0px 3px 0px #D75A41;
	-moz-box-shadow: 0px 3px 0px #D75A41;
	box-shadow: 0px 3px 0px #D75A41;
	}
	
/**Header Background Color**/
	#header{
		background: #93b2c7;
	}

/**Primary Link Color on various, places.**/
	.tabmenu li.selected a,.sitetable .nextprev a, .next-suggestions a,.menuarea  .flat-list li.selected a,.tabmenu li a:hover,.commentarea .menuarea .dropdown.lightdrop .selected{
    color: #ff7247;
	}  

/**Add Header Image**/

#header{
background: url(%%header-img%%);
height:150px;
}

/**IMPORTANT - Change the margin-top to the height of your image minus 10px, so if it's 150px height, it should be margin-top:140px **/ 

#header .tabmenu{
	margin-top:140px;
}
/**End add header Image**/

/** STOP Customize**/
